<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label position="floating" >Email</ion-label>
        <ion-input inputmode="Email" type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-button (click)="createAccount()" class="button button-block button-positive">
         Create Account
       </ion-button>

</ion-content>
